/* Robin */

#HowItWorks {
    display:flex;
    justify-content: space-around;
}

#HowItWorks .txt{
        width: 45%;
}

#HowItWorks .txtImg img{
    width: 500px;
}

#choice{
    display: flex;
    justify-content: space-around;
}
.separator
{
    margin: 0 auto;
    width: 222px;
    height: 2px;
    background: #2fcc71;
    margin-top: 100px;
    border-radius: 10px;
}
#choice .colorBar{
    background-color: #2ecc71;
    height: 40px;
}

#choice .choice{
    border: 2px solid black;
    height: 500px;
    width: 480px;
    text-align: center;
}

#choice .choiceButton{
    background-color:#e74c3c;
    color:#fff;
    border: 0;
    width: 50%;
    height: 40px;
    font-size: 14px;
}

/* FIN Robin */

    
body 
{
    margin: 0 auto;
}
.navbar
{
    background: #2ecc71;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
}
.navbar img 
{
    height: 60px;
    text-align: center;
}
nav 
{
    display: flex;
    justify-content: space-between;
}
nav>ul 
{
    display: flex;
    padding-top: 21px;
}
nav>ul>li a 
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav>ul>li a:hover 
{
    color: #e74c3c;
}

nav li 
{
    list-style: none;
    margin-right: 30px;
}

.navbar button
{
    background: #e74c3c;
    border:none;
    padding: 10px;
    text-transform: uppercase;
    margin-top:  -20px;
    margin-left: 60px;
}
.navbar button a 
{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.banniere
{
    padding: 120px 0px 120px 0px;
    background: linear-gradient(         rgba(39, 38, 38, 0.45),          rgba(78, 78, 78, 0.45)       ),url(../images/banniere.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

*{
  box-sizing: border-box;
  margin: 0px;
}


/* PARTI NEWSLETTER */
.newsletter {
  text-align: center;
  height: 200px;
}

/* PARTI CATEGORIES */
.categories {
  text-align: center;
  display: flex;
}

.vert { background-color: #2ecc71; }
.rouge { background-color: #e74c3c; }
.bleu { background-color: #34495e; }

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#HowItWorks 
{
    padding: 90px 0 90px 0;
}
.categories 
{
    padding: 90px 0 60px 0;
}
.categories p 
{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    line-height: 34px;
    
}
footer
{
    background : #34495e;
    padding: 50px 0 50px 0;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    margin-top: 120px;
    
}
footer ul 
{
    display: flex;
}
footer li 
{
    list-style: none;
    margin-right: 40px;
}
footer li>a 
{
    color: white;
    text-decoration: none;
    margin-right: 40px;
}
footer li>a:hover
{
    color: #e74c3c;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .container {
    width: auto;
  }
  .navbar 
  {
      justify-content: center;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
      flex-direction: column;
      justify-content: center;
  }
  nav li {
      margin-top: 17px;
      font-size: 20px;
      text-align: center;
  }
  .navbar img {
      height: 120px;
  }
  .navbar button{
      margin-top: 10px;
      margin-left:0px;
      margin-bottom: 40px;
  }
  .navbar figure 
  {
      text-align: center;
  }
  footer ul 
  {
      flex-direction: column;
  }
  footer 
  {
      flex-direction: column;
  }
  footer li 
  {
      margin-top: 20px;
      text-align: center;
  }
  footer li>a 
  {
      margin-right: 0px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .container {
    width: 750px
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .container {
    width: 970px
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .container {
    width: 1170px
  }
}
